/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/app.sass */
body, input, textarea {
  margin: 40px;
  color: #aaaaaa;
  background: #444444;
  font-size: 18px;
  font-family: "Karla", "lucida grande", sans-serif;
}

/* line 36, ../sass/app.sass */
h1, h2, h3, h4, h5, h6 {
  color: white;
  line-height: 1.2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

/* line 42, ../sass/app.sass */
h2 {
  font-size: 36px;
  line-height: 1.2em;
}

/* line 46, ../sass/app.sass */
h3 {
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* line 51, ../sass/app.sass */
h4 {
  font-size: 20px;
  margin-bottom: 1.25em;
}

/* line 55, ../sass/app.sass */
p {
  line-height: 1.5em;
  margin-bottom: 1.25em;
}

/* line 59, ../sass/app.sass */
strong {
  font-weight: bold;
}

/* Links */
/* line 63, ../sass/app.sass */
a {
  color: #00bfa8;
  text-decoration: none;
}
/* line 66, ../sass/app.sass */
a:hover {
  color: #59ffeb;
}

/* -- Layout ------------------------------------------------------------------ */
/* line 71, ../sass/app.sass */
.wrapper {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

/* line 76, ../sass/app.sass */
.description {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

/* line 81, ../sass/app.sass */
.image-section {
  margin-bottom: 80px;
  background: #2b2b2b;
}
/* line 84, ../sass/app.sass */
.image-section .image-wrap {
  position: relative;
  background: #444444;
}

/* line 89, ../sass/app.sass */
.target-image {
  width: 100%;
}

/* line 92, ../sass/app.sass */
.run-functions-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #817702;
  background-color: #fdf485;
  font-size: 24px;
  cursor: pointer;
}
/* line 106, ../sass/app.sass */
.run-functions-button:hover {
  background-color: #fef9b7;
  color: #9a8f03;
}
/* line 109, ../sass/app.sass */
.run-functions-button:active {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

/* line 112, ../sass/app.sass */
.color-thief-output {
  margin-top: 20px;
}

/* line 115, ../sass/app.sass */
.function {
  clear: left;
  margin-bottom: 10px;
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.function:after {
  content: "";
  display: table;
  clear: both;
}

/* line 120, ../sass/app.sass */
.swatch {
  width: 60px;
  height: 30px;
  margin-right: 2px;
  background: #dddddd;
  float: left;
  -webkit-transition: scale 0.5s;
  -moz-transition: scale 0.5s;
  -o-transition: scale 0.5s;
  transition: scale 0.5s;
}
/* line 127, ../sass/app.sass */
.swatch:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0 1px 10px black;
  -moz-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black;
}

/* Hardcoding the offset for the FB icon example */
/* line 133, ../sass/app.sass */
.fbIcon .imageWrap .targetImage {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: relative;
  top: 142px;
  left: 192px;
}

/* line 139, ../sass/app.sass */
canvas {
  display: none;
}

/* -- Animated logo ------------------------------------------------------------------ */
/* line 143, ../sass/app.sass */
h1 {
  font-size: 72px;
  line-height: 0.5em;
  margin-bottom: 0.3em;
}
/* line 147, ../sass/app.sass */
h1 small {
  font-size: 20px;
}
/* line 150, ../sass/app.sass */
h1 .char1 {
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
/* line 152, ../sass/app.sass */
h1 .char2 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.05s;
  -moz-transition: color 0.1s 0.05s;
  -o-transition: color 0.1s 0.05s;
  transition: color 0.1s 0.05s;
}
/* line 154, ../sass/app.sass */
h1 .char3 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition: color 0.1s 0.1s;
  -o-transition: color 0.1s 0.1s;
  transition: color 0.1s 0.1s;
}
/* line 156, ../sass/app.sass */
h1 .char4 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.15s;
  -moz-transition: color 0.1s 0.15s;
  -o-transition: color 0.1s 0.15s;
  transition: color 0.1s 0.15s;
}
/* line 158, ../sass/app.sass */
h1 .char5 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.1s 0.2s;
  -o-transition: color 0.1s 0.2s;
  transition: color 0.1s 0.2s;
}
/* line 161, ../sass/app.sass */
h1 .char7 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.3s;
  -moz-transition: color 0.1s 0.3s;
  -o-transition: color 0.1s 0.3s;
  transition: color 0.1s 0.3s;
}
/* line 163, ../sass/app.sass */
h1 .char8 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.35s;
  -moz-transition: color 0.1s 0.35s;
  -o-transition: color 0.1s 0.35s;
  transition: color 0.1s 0.35s;
}
/* line 165, ../sass/app.sass */
h1 .char9 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.4s;
  -moz-transition: color 0.1s 0.4s;
  -o-transition: color 0.1s 0.4s;
  transition: color 0.1s 0.4s;
}
/* line 167, ../sass/app.sass */
h1 .char10 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.45s;
  -moz-transition: color 0.1s 0.45s;
  -o-transition: color 0.1s 0.45s;
  transition: color 0.1s 0.45s;
}
/* line 169, ../sass/app.sass */
h1 .char11 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.5s;
  -moz-transition: color 0.1s 0.5s;
  -o-transition: color 0.1s 0.5s;
  transition: color 0.1s 0.5s;
}
/* line 172, ../sass/app.sass */
h1:hover .char1 {
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  color: #ff4040;
}
/* line 175, ../sass/app.sass */
h1:hover .char2 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.05s;
  -moz-transition: color 0.1s 0.05s;
  -o-transition: color 0.1s 0.05s;
  transition: color 0.1s 0.05s;
  color: #ff8000;
}
/* line 178, ../sass/app.sass */
h1:hover .char3 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
  -moz-transition: color 0.1s 0.1s;
  -o-transition: color 0.1s 0.1s;
  transition: color 0.1s 0.1s;
  color: #fdf485;
}
/* line 181, ../sass/app.sass */
h1:hover .char4 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.15s;
  -moz-transition: color 0.1s 0.15s;
  -o-transition: color 0.1s 0.15s;
  transition: color 0.1s 0.15s;
  color: #00bfa8;
}
/* line 184, ../sass/app.sass */
h1:hover .char5 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.1s 0.2s;
  -o-transition: color 0.1s 0.2s;
  transition: color 0.1s 0.2s;
  color: #0096df;
}
/* line 188, ../sass/app.sass */
h1:hover .char7 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.3s;
  -moz-transition: color 0.1s 0.3s;
  -o-transition: color 0.1s 0.3s;
  transition: color 0.1s 0.3s;
  color: #ff4040;
}
/* line 191, ../sass/app.sass */
h1:hover .char8 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.35s;
  -moz-transition: color 0.1s 0.35s;
  -o-transition: color 0.1s 0.35s;
  transition: color 0.1s 0.35s;
  color: #ff8000;
}
/* line 194, ../sass/app.sass */
h1:hover .char9 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.4s;
  -moz-transition: color 0.1s 0.4s;
  -o-transition: color 0.1s 0.4s;
  transition: color 0.1s 0.4s;
  color: #fdf485;
}
/* line 197, ../sass/app.sass */
h1:hover .char10 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.45s;
  -moz-transition: color 0.1s 0.45s;
  -o-transition: color 0.1s 0.45s;
  transition: color 0.1s 0.45s;
  color: #00bfa8;
}
/* line 200, ../sass/app.sass */
h1:hover .char11 {
  -webkit-transition: color 0.1s;
  -webkit-transition-delay: 0.5s;
  -moz-transition: color 0.1s 0.5s;
  -o-transition: color 0.1s 0.5s;
  transition: color 0.1s 0.5s;
  color: #0096df;
}

/* -- Drag and drop ------------------------------------------------------------------ */
/* line 207, ../sass/app.sass */
.drag-and-drop {
  display: none;
}

/* line 210, ../sass/app.sass */
.dropZone {
  height: 200px;
  margin-bottom: 60px;
  background: url("../img/drag_placeholder.png");
}
/* line 214, ../sass/app.sass */
.dropZone.dragging {
  -webkit-box-shadow: inset 0 1px 10px #09a1ec;
  -moz-box-shadow: inset 0 1px 10px #09a1ec;
  box-shadow: inset 0 1px 10px #09a1ec;
}

/* line 216, ../sass/app.sass */
.droppedImage {
  display: none;
}

@media only screen and (max-width: 480px) {
  /* line 223, ../sass/app.sass */
  body {
    margin: 40px 0;
    font-size: 14px;
  }

  /* line 226, ../sass/app.sass */
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 229, ../sass/app.sass */
  h1 {
    font-size: 48px;
  }

  /* line 231, ../sass/app.sass */
  h2 {
    font-size: 24px;
  }

  /* line 233, ../sass/app.sass */
  h3 {
    font-size: 14px;
  }
}
