$bgColor: #222
$color: #aaa
$headingColor: #222
$altColor: scale-color($color, $lightness: 50%)
$lightGray: #eee
$blue: #5f92aa
$orange: #e83
$green: #6bb445

$radius: 4px

@import "compass/reset"
@import "compass/utilities/general/clearfix"
@import "compass/css3"
