$color: #555
$headingColor: #222
$altColor: scale-color($color, $lightness: 50%)
$blue: #09a1ec
$orange: #e83
$green: #6bb445

$radius: 4px

@import "compass/reset"
@import "compass/utilities/general/clearfix"
@import "compass/css3"
