@import "base"

body
  color: #444
  font-family: 'lucida grande', sans-serif
  line-height: 1.625em
  padding: 40px
  
h1
  font-size: 36px
  margin-bottom: .5em

h3

  
.imageSection
  +clearfix
  margin-bottom: 40px
  img
    float: left
    margin-right: 20px
  .colors
    width: 400px
    float: left
    .function
      +clearfix
      margin-bottom: 10px
      .swatch
        width: 40px
        height: 20px
        margin: 0 4px 4px 0
        background: #ddd
        float: left
  
canvas
  display: none
 